﻿@{
	ViewBag.Title = "Home";
}
<br /><br />
<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-9">
				<h1>Tournament management system</h1>
				<p>Tournament application</p>
				<p>To get started <a asp-controller="Tournament/Tournament" asp-action="Create" class="btn btn-primary">Click here</a></p>
			</div>
		</div>

	</div>
</div>