﻿@model TournamentViewModel


@{
	Layout = "~/Views/Tournament/Shared/LayoutTout.cshtml";
	ViewBag.Title = "Tournament page";
}

<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading"><i class="fa fa-calender" aria-hidden="true"></i>&nbsp;&nbsp;Programme menu</div>
		<div class="panel-body">
			@if (User.IsInRole("Administrator"))
			{
					<form class="form-horizontal" method="post" asp-antiforgery="true">
						<fieldset>
							<legend>Add Tournament</legend>
							<div class="form-group">
								<div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<strong></strong><a href="#" class="alert-link"></a>.
								</div>
							</div>
							<div class="form-group">
								<label for="TournamentName" class="col-lg-2 control-label">Tournament Name</label>
								<div class="col-lg-6">
									<input type="text" class="form-control" name="TournamentName" value="" placeholder="Enter tournament name" />
								</div>
								<div class="col-lg-2">
									<span asp-validation-for="TournamentName">

									</span>
								</div>
							</div>
					
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<button type="submit" class="btn btn-primary">Save</button>
								</div>
							</div>
						</fieldset>
					</form> <br />

			}

			<div class="row">
				@{
					var AllTournaments = ViewData["AllTournaments"] as List<TournamentModels.Domains.Tournament>;
					if (AllTournaments != null)
					{
						if (AllTournaments.Count != 0)
						{
							<table class="table table-striped table-hover">
								<tr>
									<th>Tournament name</th>
									<th></th>
									<th></th>
									<th></th>
									
								</tr>
								
								@foreach (var item in AllTournaments)
								{
									<tr>
										<td>@item.TournamentName</td>
										<td><a asp-controller="Tournament/Event" asp-action="Create" asp-route-id ="@item.TournamentID">Add Events</a></td>
										@if (User.IsInRole("Administrator"))
										{
											<td>
												<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
												&nbsp;&nbsp;<a asp-controller="Tournament/Tournament" asp-action="Edit" asp-route-id="@item.TournamentID">
													Edit
												</a>
											</td>
											<td>
												<i class="fa fa-trash-o" aria-hidden="true"></i>
												&nbsp;&nbsp;<a asp-controller="Tournament/Tournament" asp-route-id="@item.TournamentID" asp-action="Delete">Delete</a>
											</td>   
										}
									</tr>
								}
							</table>
							<br />

							<br />

						}


					}
				}

			</div>
		</div>
	</div>

	

</div>


