﻿@model TournamentViewModel

@{
	Layout = "~/Views/Tournament/Shared/LayoutTout.cshtml";
	ViewBag.Title = "Tournament page";
}

<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;Tournament menu</div>
		<div class="panel-body">
			<form class="form-horizontal" method="post" asp-antiforgery="true">
				<fieldset>
					<legend>Edit Tournament</legend>
					@{
						var message = ViewData["Message"] as string;
						if (!string.IsNullOrEmpty(message))
						{
							<div class="form-group">
								<div class="alert alert-warning alert-dismissable">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<strong>@message</strong><a href="#" class="alert-link"></a>.
								</div>
							</div>

						}
					}

					<div class="form-group">
						<label for="TournamentName" class="col-lg-2 control-label">Tournament Name</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="TournamentName" value="@Model.TournamentName" placeholder="Enter tournament name" />
						</div>
						<div class="col-lg-2">
							<span asp-validation-for="TournamentName">

							</span>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">

							<a type="reset" class="btn btn-default" asp-controller="Tournament/Tournament"
							   asp-action="Create">Back</a>
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>
				</fieldset>
			</form> <br />


		</div>
	</div>
	
</div>

