﻿@model EventViewModel


@{
	Layout = "~/Views/Event/Shared/LayoutEvent.cshtml";
	ViewBag.Title = "Event page";
}

<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading"><i class="fa fa-calender" aria-hidden="true"></i>&nbsp;&nbsp;Event menu</div>
		<div class="panel-body">

			<form class="form-horizontal" method="post" asp-antiforgery="true">
				<fieldset>
					@{
						var message = ViewData["Message"] as string;
						if (!string.IsNullOrEmpty(message))
						{
								<div class="form-group">
									<div class="alert alert-warning alert-dismissable">
										<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
										<strong>@message</strong><a href="#" class="alert-link"></a>.
									</div>
								</div>

                        }
					}
					<legend>Edit Event</legend>
					<div class="form-group">
						<div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<strong></strong><a href="#" class="alert-link"></a>.
						</div>
					</div>
					<div class="form-group">
						<label for="EventName" class="col-lg-2 control-label">Event Name</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="EventName" value="@Model.EventName" placeholder="Enter event name" />
						</div>
						<div class="col-lg-2">
							<span asp-validation-for="EventName">

							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="EventNumber" class="col-lg-2 control-label">Event Number</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="EventNumber" value="@Model.EventNumber" placeholder="Enter event number" />
						</div>
						<div class="col-lg-2">
							<span asp-validation-for="EventNumber">

							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="EventDateTime" class="col-lg-2 control-label">EventDatetime</label>
						<div class="col-lg-6">
							<div class='input-group date' id='datetimepicker1'>
								<input type='text' class="form-control" name="EventDateTime" value="@Model.EventDateTime.ToString()" placeholder="Enter event date time" />
								<span class="input-group-addon">
									<span class="fa fa-clock-o"></span>
								</span>
							</div>
						</div>
						<div class="col-lg-2">
							<span asp-validation-for="EventDateTime">

							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="EventEndDateTime" class="col-lg-2 control-label">EventEndDateTime</label>
						<div class="col-lg-6">
							<div class='input-group date' id='datetimepicker2'>
								@{var e = Model.EventDateTime.ToString();}
								<input type='text' class="form-control" name="EventEndDateTime" value="@Model.EventEndDateTime.ToString()" placeholder="Enter event end date time" />
								<span class="input-group-addon">
									<span class="fa fa-clock-o"></span>
								</span>
							</div>
						</div>
						<div class="col-lg-2">
							<span asp-validation-for="EventEndDateTime">

							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="Venue" class="col-lg-2 control-label">AutoClose</label>
						<div class="col-lg-2">
							@if (Model.AutoClose)
			{
				@Html.CheckBoxFor(model => model.AutoClose, new { @class = "form-control", id = "autoclose", @checked = "checked" })
}
else
{
				@Html.CheckBoxFor(model => model.AutoClose, new { @class = "form-control", id = "autoclose" })
}
						</div>



					</div>


					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<a asp-controller="Tournament/Event" asp-action="Create" asp-route-id="@ViewData["ID"]" class="btn btn-default">Back</a>&nbsp;&nbsp;&nbsp;
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>
				</fieldset>
			</form> <br />



			
		</div>
	</div>


	<script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                defaultdate: @Model.EventDateTime.ToString(),
                    
                }
                );
                $('#datetimepicker2').datetimepicker({
                    defaultdate: @Model.EventEndDateTime.ToString(),
                    
                }
                );
            });
	</script>
</div>




