﻿@model EventDetailsViewModel


@{
	Layout = "~/Views/EventDetails/Shared/LayoutDetail.cshtml";
	ViewBag.Title = "EventDetails page";
}

<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading"><i class="fa fa-calender" aria-hidden="true"></i>&nbsp;&nbsp;Event menu</div>
		<div class="panel-body">

			<form class="form-horizontal" method="post" asp-antiforgery="true">
				<fieldset>
					@{
						var message = ViewData["Message"] as string;
						if (!string.IsNullOrEmpty(message))
						{
							<div class="form-group">
								<div class="alert alert-warning alert-dismissable">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<strong>@message</strong><a href="#" class="alert-link"></a>.
								</div>
							</div>

						}
					}
					<legend>Add EventDetail</legend>
					<div class="form-group">
						<div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<strong></strong><a href="#" class="alert-link"></a>.
						</div>
					</div>
					<div class="form-group">
						<label for="EventDetailName" class="col-lg-2 control-label">EventDetailName</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="EventDetailName" value="@Model.EventDetailName" placeholder="Enter event detail name" />
						</div>
						<div class="col-lg-2">
							<span asp-validation-for="EventDetailName">

							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="EventDetailNumber" class="col-lg-2 control-label">EventDetailNumber</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="EventDetailNumber" value="@Model.EventDetailNumber" placeholder="Enter event detail number" />
						</div>
						<div class="col-lg-2">
							<span asp-validation-for="EventDetailNumber">

							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="EventDetailOdd" class="col-lg-2 control-label">EventDetailOdd</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="EventDetailOdd" value="@Model.EventDetailOdd" placeholder="Enter event detail odd number" />
						</div>
						<div class="col-lg-2">
							<span asp-validation-for="EventDetailOdd">

							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="FinishingPosition" class="col-lg-2 control-label">FinishingPosition</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="FinishingPosition" value="@Model.FinishingPosition" placeholder="Enter FinishingPosition" />
						</div>
						<div class="col-lg-2">
							<span asp-validation-for="FinishingPosition">

							</span>
						</div>
					</div>

					<div class="form-group">
						<label for="Venue" class="col-lg-2 control-label">AutoClose</label>
						<div class="col-lg-2">

							@if (Model.FirstTimer)
	                         {
						         @Html.CheckBoxFor(model => model.FirstTimer, new { @class = "form-control", id = "autoclose", @checked = "checked" })
							}
							else
                            {
						         @Html.CheckBoxFor(model => model.FirstTimer, new { @class = "form-control", id = "autoclose" })
                            }
						</div>

					</div>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<a asp-controller="Tournament/EventDetails" asp-action="Create" asp-route-id="@ViewData["ID"]" class="btn btn-default">Back</a>&nbsp;&nbsp;&nbsp;
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>
				</fieldset>
			</form> <br />
		</div>
	</div>
</div>




