﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Tournament App</title>
	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/node_modules/moment/min/moment.min.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/node_modules/eonasdan-bootstrap-datetimepicker-npm/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="https://use.fontawesome.com/37274d5c05.js"></script>
	<script src="https://raw.github.com/carhartl/jquery-cookie/master/jquery.cookie.js"></script>
	<link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="/node_modules/eonasdan-bootstrap-datetimepicker-npm/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Tournament Application</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">About<span class="sr-only">(current)</span></a></li>
					<li><a href="#">Contact</a></li>

				</ul>
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<ul class="nav navbar-nav navbar-right">

					@if (User.Identity.IsAuthenticated)
					{
						<li><a href="#"><span class="glyphicon glyphicon-user"> <strong> @User.Identity.Name</strong></span></a></li>
						if (User.IsInRole("Administrator"))
						{
							<li><a href="#"><span class="fa fa-unlock"></span>&nbsp;&nbsp;Administration</a></li>
						}
						<li><a asp-action="SignOut" asp-controller="Account"><span class="fa fa-sign-out"></span> Sign out</a></li>
					}
					else
					{
						<li><a asp-action="Register" asp-controller="Account"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp; Sign Up</a></li>
						<li><a asp-action="Login" asp-controller="Account"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp; Login</a></li>
					}
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div>
			@RenderBody()
		</div>
		<hr />
		<footer class="container">
			<p class="copyright">
				<span class="glyphicon glyphicon-copyright-mark"></span> @DateTime.Now.Year 
			</p>
		</footer>
	</div>

</body>
</html>
