﻿@model EventDetailStatusViewModel
@{
	Layout = "~/Views/EventDetailStatus/Shared/LayoutStatus.cshtml";
	ViewBag.Title = "EventDetails page";
}
<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading"><i class="fa fa-calender" aria-hidden="true"></i>&nbsp;&nbsp;Event menu</div>
		<div class="panel-body">
			<div class="row">
				@{
							var AllEventDetailStatus = ViewData["AllEventStatus"] as List<TournamentModels.Domains.EventDetailStatus>;
							if (AllEventDetailStatus != null)
							{
								if (AllEventDetailStatus.Count != 0)
								{
									<table class="table table-striped table-hover">
										<tr>
											<th>EventDetail Name</th>
											<th></th>
											<th></th>
										</tr>
										@foreach (var item in AllEventDetailStatus)
								         {
											<tr>
												<td>@item.EventDetailStatusName</td>
												
												<td><a asp-controller="Tournament/EventDetailStatus" asp-action="Add" asp-route-eventDetailId="@ViewData["eventDetailID"]" asp-route-eventStatusId="@item.EventDetailStatusID">Add </a></td>
												@if(User.IsInRole("Administrator")){
													@*<td>
														<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
														&nbsp;&nbsp;<a asp-controller="Tournament/EventDetailStatus" asp-action="Edit" asp-route-eventDetailId="@ViewData["eventDetailID"]" asp-route-eventstatusId="@item.EventDetailStatusID">
															Edit
														</a>
													</td>*@
													<td>
														<i class="fa fa-trash-o" aria-hidden="true"></i>
														&nbsp;&nbsp;<a asp-controller="Tournament/EventDetailStatus" asp-route-eventDetailId="@ViewData["eventDetailID"]" asp-route-eventStatusId="@item.EventDetailStatusID" asp-action="Delete">Delete</a>
													</td>
												 }

									        </tr>
						                 }
									</table>
									<br />

									<br />

						        }


					        }
				}

			</div>
			@if (User.IsInRole("Administrator"))
			{
					<form class="form-horizontal" method="post" asp-antiforgery="true">
						<fieldset>
							@{
								var message = ViewData["Message"] as string;
								if (!string.IsNullOrEmpty(message))
								{
									<div class="form-group">
										<div class="alert alert-warning alert-dismissable">
											<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
											<strong>@message</strong><a href="#" class="alert-link"></a>.
										</div>
									</div>

								}
							}
							<legend>Add EventDetailStatus</legend>
							<div class="form-group">
								<div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<strong></strong><a href="#" class="alert-link"></a>.
								</div>
							</div>
							<div class="form-group">
								<label for="EventDetailStatusName" class="col-lg-2 control-label">EventDetailStatusName</label>
								<div class="col-lg-6">
									<!--<input type="text" class="form-control" name="EventDetailStatusName" value="" placeholder="Enter event detail status name" />-->
									<select class="form-control" id="StatusName" name="EventDetailStatusName">
										<option value="Active">Active</option>
										<option value="Scratched">Scratched</option>
										<option value="Closed">Closed</option>
									</select>
								</div>
								<div class="col-lg-2">
									<span asp-validation-for="EventDetailStatusName">

									</span>
								</div>
							</div>
					
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<a asp-controller="Tournament/EventDetails" asp-action="Create" asp-route-id="@ViewData["eventID"]" class="btn btn-default">Back</a>&nbsp;&nbsp;&nbsp;
									<button type="submit" class="btn btn-primary">Save</button>
								</div>
							</div>
						</fieldset>
					</form> <br />
			}
			else {
                 
				    <a asp-controller="Tournament/EventDetails" asp-action="Create" asp-route-id="@ViewData["eventID"]" class="btn btn-default">Back</a>
			 }


		</div>
	</div>
</div>