﻿@model RegisteredViewModel
@{
	Layout = "~/Views/shared/LayoutAccount.cshtml";
	ViewBag.Title = "Registered";
}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-primary" style="border-radius:6px">
				<div class="panel-heading">
					<a asp-controller="Home" asp-action="Index" style="color:white">Home</a>/
					<a class="active" style="color:white">Registration status</a>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 col-md-offset-4">
							
							<h4>Registration status</h4>
							<p> Your were successfully registered with username <a href="#">@Model.Email</a></p>
						</div>

					</div>


				</div>
			</div>


		</div>
	</div>
</div>