﻿@model RegisterViewModel
@{
	Layout = "~/Views/shared/LayoutAccount.cshtml";
	ViewBag.Title = "Register";
}


<div>
	<br /><br /><br /><br />
	<div class="container">
		<div class="row">

			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary" style="border-radius:6px">
					<div class="panel-heading">
						<a asp-controller="Home" asp-action="Index" style="color:white">Home</a>/
						<a class="active" style="color:white">Signup</a>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6 col-md-offset-4">
								
								<h4>Registration</h4>
								<p> Returning users sign in <a asp-action="Login">here</a></p>
							</div>

						</div>
					</div>
				</div>

				<div class="row">



					<form class="form-horizontal" role="form" method="post" id="regform" asp-antiforgery="true">

						<div class="form-group">
							<div class="alert alert-warning alert-dismissable" asp-validation-summary="ModelOnly">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
								<strong></strong> <a href="#" class="alert-link"></a>.
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="mail">Email<span style="color:red">*</span></label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon">
										<span class="fa fa-envelope"></span>
									</span><input type="email" class="form-control" id="mail" name="Email" placeholder="Enter Email">
								</div>
							</div>
							<div class="col-sm-2">
								<span asp-validation-for="Email">

								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="password">Password<span style="color:red">*</span></label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon">
										<span class="fa fa-key"></span>
									</span><input type="password" name="password" class="form-control" placeholder="Enter password" id="password" />

								</div>


							</div>
							<div class="col-sm-2">
								<span asp-validation-for="Password">

								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="password"> Confirm Password<span style="color:red">*</span></label>
							<div class="col-sm-8">
								<div class="input-group">
									<span class="input-group-addon">
										<span class="fa fa-key"></span>
									</span><input type="password" name="confirmpassword" class="form-control" placeholder="Enter password" id="password2" />
								</div>
							</div>
							<div class="col-sm-2">
								<span asp-validation-for="ConfirmPassword">

								</span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary" id="regsubmit" style="border-radius:6px">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>