﻿@{
	Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
	<ol class="breadcrumb breadcrumb-danger">
		<li><a asp-controller="Home" asp-action="Index">Home</a></li>
		<li><a asp-controller="Tournament/Tournament" asp-action="Create">Tournament</a></li>
		<li class="active">EventDetailStatus</li>
	</ol>
	<h2>EventDetailStatus</h2><hr />
</div>
<div class="row">
	<div class="col-md-12">
		@RenderBody()
	</div>
</div>